<div class="content">

  <nav class="navbar navbar-admin">
      <div>
        <h3 class="admin-navbar-title">Admin</h3>
      </div>
      <div class="">
        <ul class="nav navbar-nav">
          <li><a class="admin-navbar-left" ui-sref="manageNews">Manage News Items</a></li>
          <li><a class="admin-navbar-left" ui-sref="cronStatic">Cron Job & Static Content Refresh</a></li>
          <li><a class="admin-navbar-left" ui-sref="faq">Manage FAQs</a></li>
          <li><a class="admin-navbar-left" ui-sref="manageMaint">Manage Maintenance Mode</a></li>
        </ul>
      </div>
  </nav>
<admin-content></admin-content>
</div>
